@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@200&display=swap');

:root{
    --primary:#ddd;
    --dark:#333;
    --light:#fff;
    --shadow:0 1px 5px rgba(104, 104, 104, 0.8);
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}

:root{
    --btn-primary:#2e3c42;
    --btn-secondary:#2888e3;
    --background:#f2f2f2;
}

body{
    background: var(--background);
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background: var(--btn-secondary);
    height: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: sticky;
    width: 100%;
   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    width: 60%;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.main-nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main-nav ul li a{
    padding: 10px 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transition: all ease 0.1s;
}

.main-nav ul li a:hover{
    border-bottom: 3px solid white;
    color:rgb(243, 243, 243);
}


.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5px;
}

.main .about{
    background: var(--background);
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    line-height: 1.6em;
    border-radius: 10px;
}

.about .me{
    padding: 15px 0;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.3em;
}

.about p{
    width: 90%;
    font-family: 'Poppins';
    font-weight: 600;
}

.top-skill{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
   
}

.box{
   
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.box img{
    width: 100px;
    height: 100px;
    
}

.title{
    display: flex;
    text-align: center;
    font-family: 'Poppins';
    justify-content: center;
    
}

.title h1{
    border-bottom: 2px solid black;
    width: 200px;
}

.my-work{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    width: fit-content;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}



.work{
    width: 21.875rem;
    height: 400px;
    background-color: white;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.work:hover{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    
}

 .work .image img{
    width: 100px;
    height: 100px;
    padding: 10px;





}

.type h1{
    font-family: 'Poppins';
}


.work p{
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.work a{
    padding: 10px;
    background: var(--btn-secondary);
    color: white;
    font-family: 'Roboto';
    border-radius: 10px;
    font-weight: 600;
}

.get-in{
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}


.head h1{
    font-family: 'Poppins';
    border-bottom: 2px solid black;
    width: 200px;
}

.details .me{
    display: flex;
    font-family: 'Roboto';
    justify-content: center;
    align-items: center;
}


.me h2{
    font-size: 20px;
    margin-left: 10px;
}

.me p{
    font-size: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    padding: 30px;
}

.btn h2{
    padding: 20px;
}

.btn p a img{
    width: 40px;
}



footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-weight: 300;
}

footer span{
    color: rgb(1, 150, 236);

}

.fix img{
   width: 50px;
}

.fix{
    position: fixed;
    top: 600px;
    right: 10px;
}

@media screen {
    
}
